body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    margin: auto;
    max-width: 360px;
}

.content-section_theme_dark {
    color: #fff;
    background-color: #131313;
}

.content-section_theme_bright {
    color: #131313;
    background-color: #fee42a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 24px 20px;
}

.header_logo {
    display: block;
    width: 78px;
}

.header_logo-menu {
    width: 100%;
}

.header_menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.header_menu-link {
    color: #fff;
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: underline;
}

.header_menu-link-active .header-menu-link{
    text-decoration: none;
}

.cover {
    min-height: 258px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position: right center;
}

.cover_title {
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    width: 100%;
    font-size: 72px;
    line-height: 100%;
}

.accent-span {
    display: block;
    font-family: 'EB Garamond', serif;
    font-style: normal;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 0px 20px 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    align-content: center;
    font-family: 'Inter';
}

.intro_heading {
    display: flex;
    color: #CCC;
    justify-content: space-between;
    gap: 22px;
    font-size: 16px;
}

.intro-title {
    color: #CCC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro_date {
    white-space: nowrap;
    color: #CCC;
    font-size: 16px;
}

.intro_main-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.reasons {
    padding: 40px 20px;
}

.content-section_subtitle {
    margin-bottom: 32px;
    font-family: 'EB Garamonf', serif;
    font-size: 28px;
    line-height: 115%;
}

.content-section_introduction {
    margin-bottom: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 135%;
}

.content-section_list {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    padding: 0 0 0 16px;
}

.content-section_list-accent {
    font-weight: 700;
}

.how-to {
    padding: 40px 20px 60px;
}

.card {
    border-radius: 30px;
    padding: 20px;
}

.card_theme_dark {
    color: #f5f5f5;
    background-color: #343434;
}

.card_theme_bright {
    color: #131313;
    background-color: #fee42a;
}

.cards-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 32px;
}

.card-title {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 135%;
}

.card-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.card_author-photo {
    width: 100px;
    height: 100px;
}

.card_author-name {
    font-weight: 700;
    line-height: 135%;
    font-size: 16px;
}

.footer {
    padding: 20px;
    display: flex;
    border-top: 1px solid #fee42a;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.footer_links {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-direction: row;
    list-style: none;
}

.footer_links a {
    color: #f5f5f5;
    font-size: 14px;
    line-height: 125%;
    text-decoration: none;
}
